<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
    <dict>
        <key>Label</key>
        <string>com.mnopi.jetbrains</string>
        <key>ProgramArguments</key>
        <array>
            <string>/Users/j5pu/shrc/bin/jetbrains</string>
            <string>setenv</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>StandardOutPath</key>
        <string>/tmp/com.mnopi.jetbrains-stdout.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/com.mnopi.jetbrains-stderr.log</string>
    </dict>
</plist>
