<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>LC_ALL</key>
		<string>C</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.mnopi.odoo</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/j5pu/Library/Mobile Documents/com~apple~CloudDocs/Odoo</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/j5pu/Library/Mobile Documents/com~apple~CloudDocs/log/odoo.log</string>
	<key>StandardOutPath</key>
	<string>/Users/j5pu/Library/Mobile Documents/com~apple~CloudDocs/log/odoo.log</string>
</dict>
</plist>
